<!DOCTYPE html>
<html lang="pt-BR">


	<head>
		<title>Review Classifier</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet"> 
					<link rel="stylesheet" href="main.css">
					<script language="javascript" type="text/javascript">
            $(window).onload(function() {
               onclick="$('#loading').show();"

            });
        </script>
	</head>

	<body>
		<nav id = "nb" class="navbar navbar-default" >
			<div id = "container-navbar" class="container-fluid">
				<div class="navbar-header">
					<h4><img src="imagens/logo.png" class="logo" width="45">
					 Machine Learnig </h4>
				</div>
			</div>
		</nav>
		<div id="intro">
			<h2>Sentiment Analysis Reviews Amazon</h2>
			 </div>
		
		<form name='form' method="post" class="form-group">
			<div class="row formContainer">
				<div class="col-sm-3"></div>
				<div class="col-sm-6" id="form1">
					<label>Review Title</label>
					<input name="reviewTitle" type="text" id="reviewTitle">
					<label>Review</label>
					<textarea id="review" name="review" required></textarea>
				</div>
				<div class="col-sm-3"></div>
			</div>
			<div class="row formContainer">
				<div class="col-sm-3"></div>
				<div class="col-sm-6" id="form2">
					<label>Category:</label>
					<select id="category" name="category">
							<option value="all">All</option>
							<option value="book">Books</option>
							<option value="dvd">DVDs</option>
							<option value="eletronics">Eletronics</option>
							<option value="kitchen_&_housewares">Kitchen & Housewares</option>
					</select>
				</div>
				<div class="col-sm-3"></div>
				
			</div>
			<div class="row formContainer">
					<div class="col-sm-3"></div>
					<div class="col-sm-6" id="form3">
							<button type="submit" class="myBtn" onclick="$('#loading').show();">Submit</button>
							<button type="reset" class="myBtn" style="background-color: #FBC02D">Clear</button>
					</div>
					<div class="col-sm-3"></div>
				</div>
		</form>	
		<div id="loading" style="display: none">
			<i class='fa fa-cog cog1'></i>
			<i class='fa fa-cog cog2'></i>
	</div>
			

			{{ classe }}

	</body>

</html>